<!-- Footer -->
<footer class="footer">

  <div class="container">
    <div class="col-sm-6">
      <p class="copyright">
        &copy; {{site.title}}. All rights reserved.
      </p>
    </div>

    <div class="col-sm-6">
      <ul class="social-icons pull-right">
        <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        {% if false %}
        <li><a href="#" class="icon icon-twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="icon icon-github"><i class="fa fa-github"></i></a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</footer>
